.header {
  background-color: var(--background-transparent-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2em;

}

.logo{
  display: flex;
  gap: 8px;
}

.nav {
  display: flex;
  align-items: baseline;
  text-align: center;
  gap: 16px;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  transition: color 150ms ease-in-out;
}

.link {
  color: blue;
  font-size: 22px;
}

.active {
  color: orangered;
  /* text-decoration: underline; */
}
