
.title {
  background-color: var(--middle-green-color);
  border: 1px solid var(--background-color);
  border-radius: 8px;
  font-size: 18px;

}

.input{
  background-color: var(--background-color) ;
  border: 1px solid var(--green-color);
  border-radius: 8px;
  font-size: 14px;
  padding: 8px;
  margin-top: -16px;
  margin-bottom: 12px;
  outline: none;
  text-align: center;
}