.link {
  color: var(--black-color);
  font-size: 16px; 
  padding-left: 8px;
  transition: color 250ms ease-in; 
}

.active {
text-shadow: 2px 2px 2px var(--green-color);
  text-decoration: underline;
}

.link:hover{
  color: var(--green-color);
  transform: scale(1.1);
}