.title {
    background-color: var(--middle-green-color);
    border: 1px solid var(--background-color);
    border-radius: 8px;
    font-size: 26px;
    margin-bottom: 8px;
}

.text {
    background-color: var(--middle-green-color);
    border: 1px solid var(--background-color);
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
    margin-bottom: 12px;
}


.btn {
    background-color: var(--background-transparent-color) ;
    border: 1px solid var(--middle-green-color);
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 16px;
    transition: all 250ms ease-in; 
    animation: pulse 1.5s infinite alternate;
    display: inline-block;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.20);
    }
}

    .btn:hover {
        background-color: var(--middle-green-color);
        border: 1px solid var(--background-color);
      }
      